<section id="tasks">
    <header>
        <h2>{{name}}'s Tasks</h2>
        <menu>
            <button (click)="onAddTask()">Add Task</button>
        </menu>
    </header>

    <ul>
        @if (isAddingNewTask) {
            <!-- <app-new-task (cancelled)="onCancelAddNewTask($event)" (addTask)="onSubmit($event)" [userId]="selectedUser"></app-new-task> -->
            <app-new-task (cancelled)="onCancelAddNewTask($event)" [userId]="selectedUser"></app-new-task>
        }
        @for (task of selectedUsertasks; track task.id) {
            <li>
                <!-- <app-task-list [task]="task" (complete)="onCompleteTask($event)"></app-task-list> -->
                <app-task-list [task]="task"></app-task-list>
            </li>
        }
    </ul>
</section>

